train_task_name: train
test_task_name: eval_loop
test_task_name2: eval_det_model
test_task_name3: eval_det_model_with_pdf
test_task_name4: export2onnx

train:
  device: 'cuda:0'
  load_from: /media/win/PTMP/DoclaynetGNN/latest_save_point.pt
  load_from2: "/media/win/PTMP/DoclaynetGNN/0.0000_0.9661_step_205000_lr_5.50e-05_node_0.9515_edge_0.9807.pt"
  load_optimizer: false
  auto_restart: false
  log_step: 50
  log_clear_step: 50000
  save_step: 1000
  eval_step: 1000
  sleep_time: 0.0
  num_epoch: 10000000000
  ema_decay: 0.999
  gradient_clip_norm: 1.0
  train_batch_size: 96
  val_batch_size: 96
  optimizer:
    type: Adam
    learning_rate: 1e-2
    weight_decay: 0.0005  # optimizer weight decay 5e-4
    betas: [0.937, 0.999]
    momentum: 0.937
  scheduler:
    type: CLR
    base_lr: 1e-6
    max_lr: 1e-5
    gamma: 1.0
    cycle_steps: [ 1e-4, 1e-4, 1e-5, 1e-5, 1e-6 ]
    step_size: 10000
  loss:
    node_loss_type: CE
    edge_loss_type: CE
    weight:
    node_weight:
    node_weight2: [1.0, 1.0, 1.0, 5.0, 1.0, 5.0, 5.0, 5.0, 1.0, 1.0, 1.0]
    node_weight3: [1.0, 248.8631591796875, 3.4594688415527344, 1.4572490453720093, 5.242983818054199, 33.667179107666016, 29.70351791381836, 14.297821998596191, 191.63580322265625, 42.630550384521484, 13.257155418395996]
    edge_weight:
    edge_weight2: [1.0, 1.0]
    edge_weight3: [1.6442769765853882, 0.7184785008430481]
  train_dataset:
    type: lmdb
    lmdb_prob:
    lmdb_path:
      - /media/win/Dataset/DocumentlayoutGNN/directional_nn/RF2+IMF/train/doclaynet_pymupdf_text
    lmdb_prob2: [ 0.1, 0.1, 0.1, 0.1, 0.2, 0.1, 0.2, 0.1 ]
    lmdb_path2:
      - /media/win/Dataset/DocumentlayoutGNN/directional_nn/imf_thin_seg-dec_all/train/doclaynet_pymupdf_text
      - /media/win/Dataset/DocumentlayoutGNN/directional_nn/imf_thin_seg-dec_all/train/doclaynet_pymupdf_text_vline
      - /media/win/Dataset/DocumentlayoutGNN/directional_nn/imf_thin_seg-dec_all/train/doclaynet_textsense_text
      - /media/win/Dataset/DocumentlayoutGNN/directional_nn/imf_thin_seg-dec_all/train/doclaynet_table_textsense_text
      - /media/win/Dataset/DocumentlayoutGNN/directional_nn/imf_thin_seg-dec_all/train/doclaynet_table_pymupdf_text
      - /media/win/Dataset/DocumentlayoutGNN/directional_nn/imf_thin_seg-dec_all/train/doclaynet_table_pymupdf_text_vline
      - /media/win/Dataset/DocumentlayoutGNN/directional_nn/imf_thin_seg-dec_all/train/publaynet_table_pymupdf_text
      - /media/win/Dataset/DocumentlayoutGNN/directional_nn/imf_thin_seg-dec_all/train/publaynet_table_pymupdf_text_vline
    cache_size: 5000
    cache_rate: 0.5
  val_dataset:
    type: lmdb
    lmdb_path:
      - /media/win/Dataset/DocumentlayoutGNN/directional_nn/RF2+IMF/val/doclaynet_pymupdf_text
    cache_size: 0
  save_dir: /media/win/PTMP/DoclaynetGNN


test:
  device: 'cuda:0'
  load_from: "/media/win/PTMP/DoclaynetGNN/0.8270 (0.6882)_0.9538_step_15000_lr_1.00e-04_node_0.9316_edge_0.9760.pt"
  sleep_time: 180
  pdf_dir: /media/win/Dataset/DocLayNet/PDF
  pkl_dir: /media/win/Dataset/CTPN-MLT/DoclayNet/val_pkl
  vis_pdf_dir:
  vis_pdf_dir2: /media/win/PTMP/DoclaynetGNN/vis_pdf
  eval_batch_size: 64
  eval_loop_dir:
    - /media/win/PTMP/DoclaynetGNN
  eval_score_thr: 0.96
  eval_type: val

data:
  class_list: ['text', 'title', 'picture', 'table', 'list-item', 'page-header', 'page-footer', 'section-header', 'footnote','caption','formula', 'unlabelled']
  class_priority: [1, 5, 6, 4, 0, 3, 2, 7, 8, 9, 10, 11]
  class_priority1: [0, 7, 4, 10, 9, 3, 5, 6, 8, 2, 1]
  rf_names1: ['num_ratio', 'is_text', 'is_vector', 'is_image', 'is_hline_vector', 'is_vline_vector', 'bottom_right_x','char_space','char_space_n','context_above_font_size','context_above_indent','context_above_is_header','context_above_outdent','context_below_bullet','context_below_font_size','context_below_indent','context_below_is_header','context_below_outdent','context_header_differs','dodgy_paragraph_breaks','font_size','fonts_offset','imargin_b','imargin_l','imargin_r','imargin_t','is_header','line_bullets','line_space','linespaces_offset','margin_b','margin_l','margin_r','margin_t','max_non_first_left_indent','max_non_last_right_indent','non_line_bullets','num_fonts_in_region','num_lines','num_non_numerals','num_numerals','num_underlines','ratio','smargin_b','smargin_l','smargin_r','smargin_t', 'top_left_x']
  rf_names: ['num_ratio', 'is_text', 'is_vector', 'is_image', 'is_hline_vector', 'is_vline_vector', 'alignment_down_with_centre','alignment_down_with_left','alignment_down_with_right','alignment_left_with_bottom','alignment_left_with_middle','alignment_left_with_top','alignment_right_with_bottom','alignment_right_with_middle','alignment_right_with_top','alignment_up_with_centre','alignment_up_with_left','alignment_up_with_right','bottom_right_x','char_space','char_space_n','consecutive_bottom_alignment_count_left','consecutive_bottom_alignment_count_right','consecutive_centre_alignment_count_down','consecutive_centre_alignment_count_up','consecutive_left_alignment_count_down','consecutive_left_alignment_count_up','consecutive_middle_alignment_count_left','consecutive_middle_alignment_count_right','consecutive_right_alignment_count_down','consecutive_right_alignment_count_up','consecutive_top_alignment_count_left','consecutive_top_alignment_count_right','context_above_font_size','context_above_indent','context_above_is_header','context_above_outdent','context_below_bullet','context_below_font_size','context_below_indent','context_below_is_header','context_below_outdent','context_header_differs','dodgy_paragraph_breaks','font_size','fonts_offset','imargin_b','imargin_l','imargin_r','imargin_t','is_header', 'line_bullets','line_space','linespaces_offset','margin_b','margin_l','margin_r','margin_t','max_non_first_left_indent','max_non_last_right_indent','non_line_bullets','num_fonts_in_region','num_lines','num_non_numerals','num_numerals','num_underlines','ratio','ray_line_distance_down','ray_line_distance_left','ray_line_distance_right','ray_line_distance_up','smargin_b','smargin_l','smargin_r','smargin_t', 'top_left_x',]

model:
  type: 'DGCNN'
  name: 'BoxRFDGCNN'
  option:
    normalization: ['BBX', 'BRF', 'BTX', 'BIM', 'BFS']
    conv_type: 'CustomDGC'
    conv_num: 2
    conv_merge_type:
    feature_types: ['bbox', 'image', 'rf', 'text_pattern']
    edge_type: SEO
    training_noise_prob: 0.0
    training_noise: 0.0
    # drop_ngc: 0.0
    # drop_egc: 0.0
  sample_k: 20
  hidden_dim: 512
  node_input_dim: 8
  node_output_dim: 256
  edge_input_dim1: 18
  edge_input_dim: 368
  rf_output_dim: 48
  txp_input_dim: 40
  txp_output_dim: 10
  imf_input_dim: 344
  imf_output_dim: 256
  dgcn_dim: 128
  dgcn_aggr: softmax


export2onnx:
  model_cfg: "/media/win/PTMP/DoclaynetGNN/CustomDGC/pymupdf_text/0.8430 (table: 0.7957) - imf_segdecall+rf/model.yaml"
  check_point: "/media/win/PTMP/DoclaynetGNN/CustomDGC/pymupdf_text/0.8430 (table: 0.7957) - imf_segdecall+rf/0.8430 (0.7957)_0.9609_step_417000_lr_3.70e-06_node_0.9456_edge_0.9761.pt"
  save_path: "/media/win/PTMP/DoclaynetGNN/CustomDGC/pymupdf_text/0.8430 (table: 0.7957) - imf_segdecall+rf/0.8430 (0.7957)_model.onnx"
  verification_threshold: 0.001

test_onnx:
  device: 'cuda:1'
  task1: eval_det_performance
  task2: visualize_result
  task: visualize_result
  iou_threshold: 0.6
  pdf_dir: /media/win/Dataset/DocLayNet/PDF
  pkl_dir: /media/win/Dataset/CTPN-MLT/DoclayNet/val_pkl
  cache_dir: /media/win/PTMP/eval_cache
  config_path: "/media/win/PTMP/DoclaynetGNN/model.yaml"
  model_path: ""
  features_path: /home/youbit/bin/mupdf-master-250317/build/release/features-250911
  imf_model_path: "/media/win/Dataset/DocumentlayoutGNN/directional_nn/imf_thin_seg-dec_all/0.9340_dec_all.onnx"
  load_from: ""
  test_pdf_file: /home/youbit/workspace/DoclayoutGNN/temp/2203.01017v2_8p.pdf
  show_data: false


train_segmentation:
  task: train
  task2: export2onnx
  task3: save_class_pkl
  device: 'cuda:1'
  model:
    name: 'UNet-thin2'
    target_type: 'segmentation'
    in_ch: 1
    out_ch: 12
    use_sep: false
    image_size:
      type: Fix
      size: [500, 500]
    mask_size:
      type: Original
      size:
    output_name: ''
    num_filters: 32
  loss_type:
    - type: 'CE'
      weight: 1.0
  class_list: ['text', 'title', 'picture', 'table', 'list-item', 'page-header', 'page-footer', 'section-header', 'footnote', 'caption', 'formula']
  data_class_change_map:
    table-cell:
    form: table
    key-value-region: text
    checkbox-selected: text
    checkbox-unselected: text
    code: text
  class_weight:
  class_weight2: [ 0.5, 1.0, 5.0, 1.0, 10.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0]
  train_style: 'SEG'
  batch_size: 36
  learning_rate: 1e-4
  scheduler:
    base_lr: 1e-4
    max_lr: 1e-4
    step_size: 10000
  augmentation:
    crop_prob: 0.25
    crop_ratio: [0.8, 1.0]
    noise_prob: 0.1
    noise_ratio: 0.01
  num_workers: 2
  train_pkl_prob1: [1.0]
  train_pkl_dir1:
    - /media/win/PTMP/PDF/EdgarDataset/edgar_form10k_2401_2512/pkl
  train_pkl_prob: [0.25, 0.25, 0.0625, 0.0625, 0.0625, 0.0625, 0.0625, 0.0625, 0.0625, 0.0625]
  train_pkl_dir:
    - /media/win/Dataset/CTPN-MLT/DoclayNet/train_pkl
    - /media/win/Dataset/CTPN-MLT/DoclayNet/train_pkl_table
    - /media/win/Dataset/PubLayNet/train_pkl_doclaynet_table
    - /media/win/PTMP/PDF/DartDataset/dart_정기공시_2401-2509/pkl
    - /media/win/PTMP/PDF/DartDataset/dart_발행공시_2401-2509/pkl
    - /media/win/PTMP/PDF/EdgarDataset/edgar_form10k_2401_2512/pkl
    - /media/win/PTMP/PDF/BOKDataset/book/pkl
    - /media/win/PTMP/PDF/BOKDataset/local_research/pkl
    - /media/win/PTMP/PDF/ESGReportDataset/pkl
    - /media/win/PTMP/PDF/ProductManualDataset/pkl
  train_pdf_dir:
    - /media/win/Dataset/DocLayNet/PDF
    - /media/win/Dataset/PubLayNet/PDF/train
    - /media/win/Dataset/PubLayNet/PDF/val
    - /media/win/PTMP/PDF/DartDataset/dart_정기공시_2401-2509/PDF
    - /media/win/PTMP/PDF/DartDataset/dart_발행공시_2401-2509/PDF
    - /media/win/PTMP/PDF/EdgarDataset/edgar_form10k_2401_2512/PDF
    - /media/win/PTMP/PDF/BOKDataset/book/PDF
    - /media/win/PTMP/PDF/BOKDataset/local_research/PDF
    - /media/win/PTMP/PDF/ESGReportDataset/PDF
    - /media/win/PTMP/PDF/ProductManualDataset/PDF
  train_cache_size: 1000
  train_cache_rate: 0.5
  val_pkl_dir:
    - /media/win/Dataset/CTPN-MLT/DoclayNet/val_pkl
  val_pdf_dir:
    - /media/win/Dataset/DocLayNet/PDF
  num_epochs: 10000
  log_interval: 10
  show_interval: 10
  eval_interval: 1000
  sleep_time: 0.0
  load_from: "/media/win/PTMP/DoclaynetGNN/segmentation/latest_save_point.pth"
  load_from2: "/media/win/PTMP/DoclaynetGNN/segmentation/0.9145_model_epoch1_iter4000.pth"
  onnx_save: ""
  save_dir: /media/win/PTMP/DoclaynetGNN/segmentation/
  pdf_dir: /media/win/Dataset/DocLayNet/PDF
