train_task_name: train
test_task_name: eval_det_model

train:
  device: 'cuda:0'
  load_from:
  load_optimizer: false
  auto_restart: false
  log_step: 50
  log_clear_step: 50000
  save_step: 1000
  eval_step: 1000
  sleep_time: 0.0
  num_epoch: 10000000000
  ema_decay: 0.999
  gradient_clip_norm: 1.0
  train_batch_size: 96
  val_batch_size: 96
  optimizer:
    type: Adam
    learning_rate: 1e-2
    weight_decay: 0.0005
    betas: [0.937, 0.999]
    momentum: 0.937
  scheduler:
    type: CLR
    base_lr: 1e-6
    max_lr: 1e-5
    gamma: 1.0
    cycle_steps: [ 1e-4, 1e-4, 1e-5, 1e-5, 1e-6 ]
    step_size: 10000
  loss:
    node_loss_type: CE
    edge_loss_type: CE
    weight:
    node_weight:
    edge_weight:
  train_dataset:
    type: lmdb
    lmdb_prob:
    lmdb_path:
      -
    cache_size: 5000
    cache_rate: 0.5
  val_dataset:
    type: lmdb
    lmdb_path:
      -
    cache_size: 0
  save_dir:

test:
  device: 'cuda:0'
  load_from:
  sleep_time: 180
  pdf_dir:
  pkl_dir:
  vis_pdf_dir:
  eval_batch_size: 64
  eval_loop_dir:
    -
  eval_score_thr: 0.8
  eval_type: val

data:
  class_list: ['text', 'title', 'picture', 'table', 'list-item', 'page-header', 'page-footer', 'section-header', 'footnote','caption','formula', 'unlabelled']
  class_priority: [1, 5, 6, 4, 0, 3, 2, 7, 8, 9, 10, 11]
  class_priority1: [0, 7, 4, 10, 9, 3, 5, 6, 8, 2, 1]
  rf_names: ['num_ratio', 'is_text', 'is_vector', 'is_image', 'is_hline_vector', 'is_vline_vector', 'alignment_down_with_centre','alignment_down_with_left','alignment_down_with_right','alignment_left_with_bottom','alignment_left_with_middle','alignment_left_with_top','alignment_right_with_bottom','alignment_right_with_middle','alignment_right_with_top','alignment_up_with_centre','alignment_up_with_left','alignment_up_with_right','bottom_right_x','char_space','char_space_n','consecutive_bottom_alignment_count_left','consecutive_bottom_alignment_count_right','consecutive_centre_alignment_count_down','consecutive_centre_alignment_count_up','consecutive_left_alignment_count_down','consecutive_left_alignment_count_up','consecutive_middle_alignment_count_left','consecutive_middle_alignment_count_right','consecutive_right_alignment_count_down','consecutive_right_alignment_count_up','consecutive_top_alignment_count_left','consecutive_top_alignment_count_right','context_above_font_size','context_above_indent','context_above_is_header','context_above_outdent','context_below_bullet','context_below_font_size','context_below_indent','context_below_is_header','context_below_outdent','context_header_differs','dodgy_paragraph_breaks','font_size','fonts_offset','imargin_b','imargin_l','imargin_r','imargin_t','is_header', 'line_bullets','line_space','linespaces_offset','margin_b','margin_l','margin_r','margin_t','max_non_first_left_indent','max_non_last_right_indent','non_line_bullets','num_fonts_in_region','num_lines','num_non_numerals','num_numerals','num_underlines','ratio','ray_line_distance_down','ray_line_distance_left','ray_line_distance_right','ray_line_distance_up','smargin_b','smargin_l','smargin_r','smargin_t', 'top_left_x',]

model:
  type: 'DGCNN'
  name: 'BoxRFDGCNN'
  option:
    normalization: ['BBX', 'BRF', 'BTX', 'BIM', 'BFS']
    conv_type: 'CustomDGC'
    conv_num: 2
    conv_merge_type:
    feature_types: ['bbox', 'rf', 'text_pattern']
    edge_type: SEO
    training_noise_prob: 0.0
    training_noise: 0.0
    drop_ngc: 0.0
    drop_egc: 0.0
  sample_k: 20
  hidden_dim: 512
  node_input_dim: 8
  node_output_dim: 256
  edge_input_dim: 24
  rf_output_dim: 48
  txp_input_dim: 40
  txp_output_dim: 10
  imf_input_dim: 344
  imf_output_dim: 256
  dgcn_dim: 128
  dgcn_aggr: softmax

export2onnx:
  model_cfg:
  check_point:
  save_path:
  verification_threshold: 0.001

