anyconfig
blosc
lmdb
numpy
opencv-python
pillow
pymupdf
PyYAML
requests
scikit-learn
scipy
focal-loss-torch
onnx
onnxruntime
onnxruntime-extensions
transformers
matplotlib
nicegui
torch-geometric
tensorboard