name: multiple

# Test with:
# * Current PyMuPDF on pypi.org.
# * PyMuPDF branch main and MuPDF release branch.
# * PyMuPDF branch main and MuPDF branch main.
#

on:
  schedule:
    - cron: '47 4 * * *'
  #pull_request:
  #  branches: [main]
  workflow_dispatch:
    inputs:
      args:
        default: ''
        description: 'Extra arguments to be passed to scripts/test.py.'

jobs:

  multiple:
    name: multiple
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [
                ubuntu-latest,
                windows-2022,
                macos-13,
                macos-14,
                ]
        args: [
            '',
            '-p "git:" -m "git:--branch 1.26.x"',
            '-p "git:" -m "git:--branch master"',
            ]

      # Avoid cancelling of all runs after a single failure.
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - name: multiple
        env:
          SCE_test_args: ${{inputs.args}}
        run:
          python scripts/test.py ${{matrix.args}} wheel test -a SCE_test_args
      
      # We don't attempt to use actions/upload-artifact because we generate
      # duplicate wheel names.
